* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181D4A;
    color: white;
    font-family: 'Playfair Display SC', serif;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 0.6fr 0.5fr 0.1fr;
    grid-template-areas: 
    "hero hero"
    "mainLeft mainRight"
    "mainLeftBottom mainRightBottom"
    "footer footer";
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameBig {
    font-size: 7rem;
    margin-bottom: 2rem;
    text-shadow: black 4px 0 5px;
}

.pictureJenny {
    box-shadow: 30px -15px #83A5B8;
}

.infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    max-width: 80%;
}

.experienceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.experienceText {
    font-size: 2rem;
}

.mainLeft {
    grid-area: mainLeft;
    margin-top: 2rem;
}

.expPictures {
    max-width: 100%;
    height: auto;
}

.mainRight {
    grid-area: mainRight;
    height: 100%;
}

.mainLeftBottom {
    grid-area: mainLeftBottom;
    margin-top: 2rem;
}

.mainRightBottom {
    grid-area: mainRightBottom;
    height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.allLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.links {
    color: #83A5B8;
    text-decoration: none;
    text-shadow: #83A5B8 1px 0 5px;
    margin: 0.4rem;
}

.final {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.bottomColor {
    color: #707070;
}

.bold {
    font-weight: bold;
}

.hidden {
    opacity: 0;
    transition: all 1000ms;
}

.hidden.show {
    opacity: 1;
}
    
