/* Mobile */
@media (max-width: 360px) 
{
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.1fr 0.2fr 0.1fr 0.2fr 0.1fr;
    grid-template-areas: 
    "hero"
    "mainLeft"
    "mainRight"
    "mainLeftBottom"
    "mainRightBottom"
    "footer"; 
    }
    
    .nameBig {
        font-size: 2rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
  
    .pictureJenny {
        margin-left: 0;
        margin-right: 1rem;
        width: 50%;
    }
    
    .links {
    font-size: 0.5rem;
    }

    .infoText {
    font-size: 0.8rem;
    max-width: 80%;
    }

    .experienceText, .education, .work {
        padding-left: 0;
    }

    .mainLeft {
        grid-area: mainLeft;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .final {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    }
} 