/* responsiv ner till 360px, tänk även på stora skärmar. 3 storlekar räcker */
/* Reusable classes:  */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181D4A;
    color: white;
    font-family: 'Playfair Display SC', serif;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hero hero"
    "mainLeft mainRight"
    "mainLeftBottom mainRightBottom"
    "footer footer";
}

.links {
    color: #83A5B8;
    text-decoration: none;
    text-shadow: #83A5B8 1px 0 5px;
}

.contact {
    margin-top: 0;
    padding: 0.3rem;
    margin: 0.8rem;
    display: flex;
    gap: 1rem;
}

.nameBig {
    font-size: 7rem;
    margin-bottom: 1.5rem;
    text-shadow: black 1px 0 10px;
}

.pictureJenny {
    border-radius: 10rem;
}

.infoText {
    width: 70%;
    font-size: 1.2rem;
}

.hero {
    grid-area: hero;
    display: grid;
    place-items: center;
    align-content: center;
}

.mainLeft {
    grid-area: mainLeft;
    justify-self: center;
    margin-top: 4rem;
    height: auto;
}

.mainRight {
    grid-area: mainRight;
}

.mainLeftBottom {
    grid-area: mainLeftBottom;
    justify-self: center;
    margin-top: 4rem;
}

.mainRightBottom {
    grid-area: mainRightBottom;
}

.bottomColor {
    color: #707070;
}

.bold {
    font-weight: bold;
}

.footer {
    grid-area: footer;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/* .title {
    grid-column-start: 1; /*ett annat sätt att skriva det på: grid-column: 1 / 3; eller: grid-column-end: span 2*/
    /* grid-column-end: 3; */
/* } */


/* Tablet */
@media (max-width: 900px) 
{
    .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hero"
    "mainLeft mainRight"
    "mainLeftBottom mainRightBottom"
    }

    .nameBig, .pictureJenny {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-shadow: black 1px 0 10px;
    justify-self: auto;
    margin-left: 2rem;
    }
}
    

/* Mobile */
@media (max-width: 360px) 
{
    .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.7fr 0.2fr 1fr;
    grid-template-areas: 
    "hero"
    "mainLeft"
    "mainRight"
    "mainLeftBottom"
    "manRightBottom"
    }

    .nameBig {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-shadow: black 1px 0 10px;
    }

    .infoText {
    font-size: 0.8rem;
    }
} 
    /* whitespace på extra stor skärm? */