/* responsiv ner till 360px, tänk även på stora skärmar. 3 storlekar räcker */
/* Reusable classes:  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font */
}

body {
    background-image: url(./Pictures/nightSky.jpg);
    background-color: rgb(19, 19, 86);
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
}

.links {
    color: white;
    text-decoration: none;
}

.grid-1-column {
    width: auto;
    display: grid;
    grid-template-columns: 100%;
}

.contact {
    margin-top: 0;
    width: auto;    
    padding: 0.3rem;
    margin: 0.8rem;
    justify-content: center;
}

.textBox {
    position: absolute;
    text-align: center;
} 

.nameBig {
    font-size: 7rem;
    margin-bottom: 1.5rem;
}

.pictureJenny {
    border-radius: 10rem;
}

.infoText {
    height: auto;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

.grid-2-columns {
    margin: 2rem auto;
    width: auto;
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
}


/* Tablet
@media (max-width: px) {

}

Mobile */
/* @media (max-width: px) {
    
} */