/* Tablet */
@media (max-width: 820px) 
{
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.6fr 0.5fr 0.2fr;
    grid-template-areas: 
    "hero"
    "mainLeft mainRight"
    "mainLeftBottom mainRightBottom"
    "footer footer";
    }

    .nameBig {
        font-size: 5rem;
    }

    .pictureJenny {
        width: auto;
    }

    .links {
        font-size: 0.7rem;
    }

    .infoText {
        font-size: 1rem;
        max-width: 80%;
    }

    .experienceText, .education, .work {
        padding-left: 3rem;
    }

    .experienceText, .final {
        font-size: 1.5rem;
    }

    .expPictures {
        max-width: 100%;
        height: auto;
    }

    .final {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}